body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1474511320723-9a56873867b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav ul {
    list-style: none;
    background-color: #ff8b3d;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 2.0em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%
}

nav a {
    text-decoration: none;
    color: #e7e7e7;
    display: block;
}

nav a:hover {
    background-color: #e7e7e7;
    color: #ff8b3d;
}

h1 {
    color: #ff8b3d;
    text-align: center;
}

h2 {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

h3 {
    color: #ff8b3d;
}



table {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table th {
    color: #ff8b3d;
    text-align: center;
}

table td {
    color: #e7e7e7;
    text-align: center;
}

table img {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

/* This is used to make the list numbers coloured and bolded. Part of this code was taken from https://www.lockedownseo.com/ordered-list-ol-different-color-for-numbers/ */

ol li {
    color: whitesmoke;
    counter-increment: list;
    list-style-type: none;
}

ol li:before {
    color: #ff8b3d;
    font-weight: bold;
    content: counter(list) ".";
}

p {
    color: whitesmoke;
}

.card {
    display: block;
    background-color: rgba(27, 19, 19, 0.8);
    width: 40%;
    height: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}

img {
    display: block;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}