body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

nav ul{
    list-style: none;
    background-color: #ff8b3d;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 2.0em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%
}

nav a {
    text-decoration: none;
    color: #e7e7e7;
    display: block;
}

nav a:hover{
    background-color: #e7e7e7;
    color: #ff8b3d;
}

h1{
    color: #ff8b3d;
    text-align:center;
}

h2 {
    text-align: center;
    font-style:italic;
}

h3 {
    color:#ff8b3d;
}

/* This is used to make the list numbers coloured and bolded. Part of this code was taken from https://www.lockedownseo.com/ordered-list-ol-different-color-for-numbers/ */

ol li {
    counter-increment: list;
    list-style-type: none;
}

ol li:before {
    color: #ff8b3d;
    font-weight: bold;
    content: counter(list) ".";
}

p {
  
}

.card {
    display: block;
    width: 40%;
    height: 80%;
    float:none;
    margin-left:auto;
    margin-right:auto;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
}